ol {
    list-style-type: none;
    padding-left: 20px;
}
ol li {
    padding: 5px;color:#000;
}

ol li:nth-child(even){
    background: #f4ecec;
}

.container{
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}

.input-text{
    width: 80%;
}

input{
    padding: 4px 15px 4px 0;
    
}

#button{
    display: inline-block;
    background-color:#fc999b;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
    }

li:hover{
    cursor: pointer;
    }