ol {
    list-style-type: none;
    padding-left: 20px;
}
ol li {
    padding: 5px;color:#000;
}

ol li:nth-child(even){
    background: #f4ecec;
}

.container{
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}

.input-text{
    width: 70%;
}

li:hover{
    cursor: pointer;
}

.center {
    text-align: center;
}